USE [master]
GO
/****** Object:  Database [CrudOpDB]    Script Date: 23/12/2022 13:20:24 ******/
CREATE DATABASE [CrudOpDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudOpDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrudOpDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrudOpDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CrudOpDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudOpDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER AUTHORIZATION ON DATABASE::[CrudOpDB] TO [DESKTOP-B73K2T8\Hell_HunteR]
GO
USE [CrudOpDB]
GO
/****** Object:  Table [dbo].[tbl_Contacts]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ProfessionID] [int] NOT NULL,
	[fName] [nvarchar](50) NOT NULL,
	[lName] [nvarchar](50) NULL,
	[emailAddr] [nvarchar](100) NOT NULL,
	[Company] [nvarchar](100) NOT NULL,
	[Category] [tinyint] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[DOB] [datetime] NOT NULL,
	[ModeSlack] [bit] NOT NULL,
	[ModeWhatsapp] [bit] NOT NULL,
	[ModeEmail] [bit] NOT NULL,
	[ModePhone] [bit] NOT NULL,
	[ContactImage] [nvarchar](max) NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[tbl_Contacts] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[tbl_Profession]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Profession](
	[ProfessionID] [int] IDENTITY(1,1) NOT NULL,
	[Profession] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_tbl_Profession] PRIMARY KEY CLUSTERED 
(
	[ProfessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[tbl_Profession] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[tbl_Contacts] ON 

INSERT [dbo].[tbl_Contacts] ([ContactID], [ProfessionID], [fName], [lName], [emailAddr], [Company], [Category], [Gender], [DOB], [ModeSlack], [ModeWhatsapp], [ModeEmail], [ModePhone], [ContactImage], [LastModified]) VALUES (3, 2, N'Sachin', N'Chahal', N'sachin.c@antheminfotech.com', N'Anthem Infotech Pvt. Ltd.', 1, 0, CAST(N'1994-04-05T00:00:00.000' AS DateTime), 1, 1, 0, 1, N'7b1b5a50-bf25-4e3b-b17a-c6dd8066935e.jpg', CAST(N'2022-12-23T13:04:58.633' AS DateTime))
INSERT [dbo].[tbl_Contacts] ([ContactID], [ProfessionID], [fName], [lName], [emailAddr], [Company], [Category], [Gender], [DOB], [ModeSlack], [ModeWhatsapp], [ModeEmail], [ModePhone], [ContactImage], [LastModified]) VALUES (6, 12, N'Poonam', N'Devi', N'devi@p.com', N'ABCABC', 0, 1, CAST(N'2017-12-17T00:00:00.000' AS DateTime), 1, 0, 1, 0, N'', CAST(N'2022-12-23T13:04:58.633' AS DateTime))
INSERT [dbo].[tbl_Contacts] ([ContactID], [ProfessionID], [fName], [lName], [emailAddr], [Company], [Category], [Gender], [DOB], [ModeSlack], [ModeWhatsapp], [ModeEmail], [ModePhone], [ContactImage], [LastModified]) VALUES (18, 16, N'Manoj', N'Kumar', N'rakesh@r.com', N'ABCABC', 0, 0, CAST(N'2000-12-07T00:00:00.000' AS DateTime), 0, 0, 0, 1, N'', CAST(N'2022-12-23T13:04:58.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Profession] ON 

INSERT [dbo].[tbl_Profession] ([ProfessionID], [Profession], [Description], [LastModified]) VALUES (1, N'Manager', N'Manage all role', CAST(N'2022-12-23T12:34:46.807' AS DateTime))
INSERT [dbo].[tbl_Profession] ([ProfessionID], [Profession], [Description], [LastModified]) VALUES (2, N'Jr Developer', N'', CAST(N'2022-12-23T12:34:46.807' AS DateTime))
INSERT [dbo].[tbl_Profession] ([ProfessionID], [Profession], [Description], [LastModified]) VALUES (3, N'Senior Developer', N'To Be responsible for his/her duty. Also able guide ''Jr developers''.', CAST(N'2022-12-23T12:34:46.807' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Profession] OFF
GO
ALTER TABLE [dbo].[tbl_Contacts] ADD  CONSTRAINT [DF_tbl_Contacts]  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[tbl_Profession] ADD  CONSTRAINT [DF_tbl_Profession]  DEFAULT (getdate()) FOR [LastModified]
GO
ALTER TABLE [dbo].[tbl_Contacts]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Contacts_tbl_Profession] FOREIGN KEY([ProfessionID])
REFERENCES [dbo].[tbl_Profession] ([ProfessionID])
GO
ALTER TABLE [dbo].[tbl_Contacts] CHECK CONSTRAINT [FK_tbl_Contacts_tbl_Profession]
GO
/****** Object:  StoredProcedure [dbo].[AddContact]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[AddContact]
@ProfessionID int
           ,@fName nvarchar(30)
           ,@lName nvarchar(30) = ''
           ,@emailAddr nvarchar(max)
           ,@Company nvarchar(50)
           ,@Category tinyint
		   ,@Gender tinyint
		   ,@DOB datetime
		   ,@ModeSlack bit
		   ,@ModeWhatsapp bit
		   ,@ModeEmail bit
		   ,@ModePhone bit
		   ,@ContactImage nvarchar(max) = ''
as
begin

INSERT INTO [dbo].[tbl_Contacts]
           ([ProfessionID]
           ,[fName]
           ,[lName]
           ,[emailAddr]
           ,[Company]
           ,[Category]
		   ,[Gender]
		   ,[DOB]
		   ,[ModeSlack]
		   ,[ModeWhatsapp]
		   ,[ModeEmail]
		   ,[ModePhone]
		   ,[ContactImage]
		   )
     VALUES(@ProfessionID,@fName,@lName,@emailAddr,@Company,@Category,@Gender,@DOB,@ModeSlack,@ModeWhatsapp,@ModeEmail,@ModePhone,@ContactImage)
end
GO
ALTER AUTHORIZATION ON [dbo].[AddContact] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[AddNewProfession]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddNewProfession]  
(   
   @Profession nvarchar (50),  
   @Description nvarchar (200)  = ''
)  
as  
begin  
   Insert into tbl_Profession ([Profession]
           ,[Description]) values(@Profession,@Description)  
End 
GO
ALTER AUTHORIZATION ON [dbo].[AddNewProfession] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[DeleteContact]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteContact]
@ContactID int
as
Begin
	-- Delete Contact record where ContactID = @ContactID
	DELETE FROM [dbo].[tbl_Contacts] WHERE ContactID = @ContactID
End


GO
ALTER AUTHORIZATION ON [dbo].[DeleteContact] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[DeleteProf_Contact]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DeleteProf_Contact]
@ProfessionID int
as
Begin
	Begin Try
		Begin Tran

		-- Delete First from Child table
		DELETE FROM [dbo].[tbl_Contacts] WHERE ProfessionID = @ProfessionID

		-- Finally Delete from parent table
		DELETE FROM [dbo].[tbl_Profession] WHERE ProfessionID = @ProfessionID

		Commit Tran
	End Try
	Begin Catch
		Rollback Tran
	End Catch
End


GO
ALTER AUTHORIZATION ON [dbo].[DeleteProf_Contact] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[GetAllContact]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetAllContact]
as
begin
SELECT 
ROW_NUMBER() OVER (order by [ContactID] asc) SerialNo
      ,[ContactID]
	  ,[tbl_Contacts].ProfessionID as ProfID
      ,[Profession]
      ,[fName]
	  ,[lName]
      ,[emailAddr]
      ,[Company]
      ,[Category]
	  ,[Gender]
	  ,[DOB]
	  ,[ModeSlack]
	  ,[ModeWhatsapp]
	  ,[ModeEmail]
	  ,[ModePhone]
	  ,[ContactImage]
	  ,[tbl_Contacts].[LastModified] as LastModified
  FROM [CrudOpDB].[dbo].[tbl_Contacts]
  join [CrudOpDB].[dbo].[tbl_Profession]
  on [tbl_Contacts].ProfessionID = [tbl_Profession].ProfessionID
end
GO
ALTER AUTHORIZATION ON [dbo].[GetAllContact] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[GetAllProfessions]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetAllProfessions]  
as  
begin  
   select ROW_NUMBER() OVER (order by [ProfessionID] asc) SerialNo, [ProfessionID], [Profession], [Description], [LastModified] from tbl_Profession
End 
GO
ALTER AUTHORIZATION ON [dbo].[GetAllProfessions] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[UpdateContact]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[UpdateContact]
@ContactID int,
@ProfessionID int
           ,@fName nvarchar(30)
           ,@lName nvarchar(30) = ''
           ,@emailAddr nvarchar(100)
           ,@Company nvarchar(50)
           ,@Category tinyint
		   ,@Gender tinyint
		   ,@DOB datetime
		   ,@ModeSlack bit
		   ,@ModeWhatsapp bit
		   ,@ModeEmail bit
		   ,@ModePhone bit
		   ,@ContactImage nvarchar(max) = ''
as
begin

IF @ContactImage = ''   
BEGIN
  set @ContactImage = (select [ContactImage] from [dbo].[tbl_Contacts] where [ContactID] = @ContactID)
END

UPDATE [dbo].[tbl_Contacts]
SET [ProfessionID] = @ProfessionID
      ,[fName] = @fName
      ,[lName] = @lName
      ,[emailAddr] = @emailAddr
      ,[Company] = @Company
      ,[Category] = @Category
	  ,[Gender] = @Gender
	  ,[DOB] = @DOB
	  ,[ModeSlack] = @ModeSlack
	  ,[ModeWhatsapp] = @ModeWhatsapp
	  ,[ModeEmail] = @ModeEmail
	  ,[ModePhone] = @ModePhone
	  ,[ContactImage] = @ContactImage
	  ,[LastModified] = DEFAULT
	  where [ContactID] = @ContactID
end
GO
ALTER AUTHORIZATION ON [dbo].[UpdateContact] TO  SCHEMA OWNER 
GO
/****** Object:  StoredProcedure [dbo].[UpdateProfession]    Script Date: 23/12/2022 13:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[UpdateProfession]
@ProfessionID int,
@Profession nvarchar(50),
@Description nvarchar(200) = ''
as
begin

UPDATE [dbo].[tbl_Profession]
   SET [Profession] = @Profession
      ,[Description] = @Description
	  ,[LastModified] = DEFAULT
 WHERE ProfessionID = @ProfessionID
end


GO
ALTER AUTHORIZATION ON [dbo].[UpdateProfession] TO  SCHEMA OWNER 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Male,
2-Female,
3-Other' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_Contacts', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - Client,
1 - Vendor
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_Contacts'
GO
USE [master]
GO
